@media screen and (max-width: 850px) {
    nav {
        flex-wrap: wrap;
        padding: 5px 10px;
        text-align: center;
    }
    nav div {
        margin: 0 auto;
    }
    nav .links {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 1000px) {
    .mission-vision, .our-mission {
        flex-wrap: wrap;
    }
    .mission-vision .image-div {
        margin-top: 10px;
    }
    .mission-vision .image-div .image {
        width: 20em;
    }
}
@media screen and (max-width: 400px) {
    .main-box {
        display: none;
    }
    .small-view {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
}