@import "tailwindcss";

.small-view {
  display: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @apply text-gray-900;
  text-align: justify;
}
nav, section, footer, .mission-vision {
  @apply px-20 py-4;
  padding-left: min(20em, 8%);
  padding-right: min(20em, 8%);
}
h1 {
  @apply text-2xl font-bold;
}

/* nav */
nav li:hover {
  @apply text-gray-500 transition-all
}

/* index page */
.banner {
  background-image: url(../public/images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(117, 117, 117);
  max-width: 100%;
  @apply text-center text-white min-h-20;
  padding: min(20em, 8%);
}
/* mission and vision */
.mission-vision .image:hover {
  cursor: pointer;
  transition: all 1s ease-in-out;
  transform: translateX(1.1);
}
/* join us */
.join-us {
  padding: min(10px, 8%) min(20em, 20%);
}

